.card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #9eaeb8;
    border-radius: 8px;
    z-index: 1;
}

.ListDiv {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}


.card__content {
    width: 100%;
    height: 100%;
}

.heading_Space {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description_space {
    width: 100%;
    height: 65%;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: auto;
}

.description_space::-webkit-scrollbar {
    width: 1px;
}

.button-to-Redirect {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.button {
    position: relative;
    background-color: transparent;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
    content: "GitHUB";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* background: linear-gradient(135deg, #7b4397, #dc2430); */
    background: white;
    color: black;
    transform: translate(0%, 90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::after {
    content: "Redirect";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%, -100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    transform: translate(0%, 0%);
}

.button:hover::after {
    transform: translate(0%, -200%);
}

.button:focus {
    outline: none;
}

.button:active {
    scale: 0.95;
}

@media only screen and (max-width: 600px) {
    .ListDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: scroll;
        gap: 50px;
    }
}